name: Performance

on:
  workflow_dispatch:
  schedule:
    - cron: "0 5 * * *" # Runs every day at 5am: https://docs.github.com/en/actions/reference/events-that-trigger-workflows#scheduled-events-schedule

jobs:
  build:
    name: Performance benchmark on ubuntu-latest with Node.js 16.x

    runs-on: ubuntu-latest
    timeout-minutes: 60

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Use Node.js "16.x"
        uses: actions/setup-node@v3
        with:
          node-version: "16.x"
          registry-url: "https://registry.npmjs.org"

      - name: Use Python 3.x
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Build
        shell: bash
        run: yarn

      - name: Checkout Theia
        uses: actions/checkout@v3
        with:
          repository: eclipse-theia/theia
          path: ./theia

      - name: Build Theia
        shell: bash
        working-directory: ./theia
        run: |
          yarn --skip-integrity-check --network-timeout 100000
          yarn browser build
        env:
          NODE_OPTIONS: --max_old_space_size=4096
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # https://github.com/microsoft/vscode-ripgrep/issues/9

      - name: Run Theia
        shell: bash
        working-directory: ./theia
        run: yarn browser start &

      - name: Run Performance Measurement
        uses: GabrielBB/xvfb-action@v1
        with:
          run: yarn performance

      - name: Get History
        uses: actions/checkout@v2
        if: always() && github.ref == 'refs/heads/main'
        continue-on-error: true
        with:
          ref: gh-pages
          path: gh-pages

      - name: Prepare Report
        if: always() && github.ref == 'refs/heads/main'
        shell: bash
        run: yarn performance-report

      - name: Publish Report
        if: always() && github.ref == 'refs/heads/main'
        uses: peaceiris/actions-gh-pages@v3
        env:
          personal_token: ${{ secrets.TOKEN }}
          publish_branch: gh-pages
          publish_dir: ./public
